.superHeroDisplayImage {
    height: 400px;
}

.superHeroDisplayHeading {
    font-size: 34px;
    font-weight: 800;
    margin-top: 40px;
}

.superHeroDisplayJoke {
    font-size: 27px;
    margin: 20px;
}